<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="shortcut icon" href="img/fav.png">
    <title>Step Heaven</title>

    <!-- css link  -->
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/nouislider.min.css">
    <link rel="stylesheet" href="css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="css/ion.rangeSlider.skinFlat.css" />
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/nouislider.min.css">

    <!-- script -->
    <script defer src="js/vendor/jquery-2.2.4.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script defer src="js/vendor/bootstrap.min.js"></script>
    <script defer src="js/jquery.ajaxchimp.min.js"></script>
    <script defer src="js/jquery.nice-select.min.js"></script>
    <script defer src="js/jquery.sticky.js"></script>
    <script defer src="js/nouislider.min.js"></script>
    <script defer src="js/countdown.js"></script>
    <script defer src="js/jquery.magnific-popup.min.js"></script>
    <script defer src="js/owl.carousel.min.js"></script>
    <script defer src="js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/validator/13.7.0/validator.min.js"></script>
    <script defer src="js/login.js"></script>
    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" integrity="sha512-dPXYcDub/aeb08c63jRq/k6GaKccl256JQy/AnOq7CAnEZ9FzSL9wSbcZkMp4R26vBsMLFYH4kQ67/bbV8XaCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- bootstrap cdn  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- sweetalert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    
    <!-- flash message  -->
    <% if (locals.successMessage && locals.successMessage.length > 0) { %>
        <div id="successAlert" class="alert alert-success" role="alert"
        style="position: absolute;top: 0;right: 0;z-index: 50;left: 0;"
        >
          <%= locals.successMessage %>
        </div>
      <% } %>
      
      <% if (locals.errorMessage && locals.errorMessage.length > 0) { %>
        <div id="errorAlert" class="alert alert-danger" role="alert"
        style="position: absolute;top: 0;right: 0;z-index: 50;left: 0;"
        >
          <%= locals.errorMessage %>
        </div>
      <% } %>

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Login/Register</h1>
                    <nav class="d-flex align-items-center">
                        <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                        <p>Login/Register</p>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Login Box Area =================-->
    <section class="login_box_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login_box_img">
                        <img class="img-fluid" src="img/login.jpg" alt="img">
                        <div  class="hover flex-column align-content-center justify-content-center">
                            <button style="font-size: 1.2rem;
                            padding: 18px 15px;
                            border-radius: 27px;
                            border: none;
                            background-image: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%) !important;
                            outline: none;"><a href="/signup" style="color:#ffff;">Create an Account</a></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login_form_inner">
                        <h3>Log in to enter</h3>
                        <form class="row login_form" action="/login" method="post" id="contactForm" novalidate="novalidate">
                            <div class="col-md-12 form-group">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
                                <div class="invalid-feedback" id="emailError"></div>
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
                                <div class="invalid-feedback" id="passwordError"></div>
                            </div>
                            <div class="col-md-12 form-group">
                                <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal">
                                    Forgot Password?
                                </button>
                            </div>
                            <div class="col-md-12 form-group">
                                <button type="submit" value="submit" class="primary-btn" style="border-radius: 30px;padding: 7px 0;">Log In</button>
                            </div>
                        </form>
                        <hr style="width: 450px;" class="my-2">
                        <h1 style="font-size: 1.2rem;" class="my-3">or</h1>
                        <a href="/auth/google">
                            <button class="my-2 py-2 px-5 btn" style="border-radius: 30px;background-color: transparent;border-color: rgb(0, 110, 255);">
                                <img width="30" height="30" src="https://img.icons8.com/color/48/google-logo.png" alt="google-logo"/>
                                Google</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Login Box Area =================-->

    <!-- start footer Area -->
    <footer class="footer-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="single-footer-widget mail-chimp">
                        <h6 class="mb-20">Brand</h6>
                        <ul class="instafeed d-flex flex-wrap">
                            <li><img src="img/i1.jpg" alt=""></li>
                            <li><img src="img/i2.jpg" alt=""></li>
                            <li><img src="img/i3.jpg" alt=""></li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 d-flex justify-content-end align-content-center">
                    <div class="single-footer-widget  w-50">
                        <h6>Follow Us</h6>
                        <p>Let us be social</p>
                        <div class="footer-social d-flex align-items-center">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
                <p class="footer-text m-0">
Copyright &copy;&nbsp;<script>document.write(new Date().getFullYear());</script> 
</p>
            </div>
        </div>
    </footer>


    <!-- Forgot Password Modal -->
    <div class="modal fade" id="forgotPasswordModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="forgotPasswordModalLabel">Forgot Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="forgotPasswordForm">
                    <div class="mb-3">
                        <label for="emailId" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="emailId" >
                    </div>
                    <button type="submit" class="btn btn-primary">Send OTP</button>
                </form>
                <form id="otpForm" style="display: none;">
                    <div class="mb-3">
                        <label for="otp" class="form-label">Enter OTP</label>
                        <input type="text" class="form-control" id="otp">
                    </div>
                    <button type="submit" class="btn btn-primary">Verify OTP</button>
                </form>
                <form id="resetPasswordForm" style="display: none;">
                    <div class="mb-3">
                        <label for="newPassword" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="newPassword" >
                    </div>
                    <button type="submit" class="btn btn-primary">Reset Password</button>
                </form>
            </div>
            <div class="modal-footer">
                <div id="message"></div>
            </div>
        </div>
    </div>
</div>




    <script>


const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
const passwordRegex = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[^A-Za-z\d]).{8,}$/;
const otpRegex = /^[^\s]{6}$/;

function validateInput(input, regex, errorMessage) {
    if (!regex.test(input)) {
        Swal.fire({
            icon: 'error',
            title: 'Validation Error',
            text: errorMessage
        });
        return false;
    }
    return true;
}

        // Function to hide an  (flash message) element 
        function hideElement(elementId) {
          const element = document.getElementById(elementId);
          if (element) {
            setTimeout(() => {
              element.style.transition = 'opacity 0.5s ease-out';
              element.style.opacity = '0';
              setTimeout(() => {
                element.style.display = 'none';
              }, 500);
            }, 2000);
          }
        }
      
        // Hide alerts
        hideElement('successAlert');
        hideElement('errorAlert');

        document.addEventListener('DOMContentLoaded', function () {
            const form = document.getElementById('contactForm');
            const emailInput = document.getElementById('email');
            const passwordInput = document.getElementById('password');
            const emailError = document.getElementById('emailError');
            const passwordError = document.getElementById('passwordError');

            form.addEventListener('submit', function (event) {
                event.preventDefault();

                let isValid = true;

                // Validate email
                if (!validator.isEmail(emailInput.value)) {
                    isValid = false;
                    emailError.textContent = 'Invalid email';
                    emailInput.classList.add('is-invalid');
                } else {
                    emailError.textContent = '';
                    emailInput.classList.remove('is-invalid');
                }

                // Validate password
                if (validator.isEmpty(passwordInput.value)) {
                    isValid = false;
                    passwordError.textContent = 'Password is required';
                    passwordInput.classList.add('is-invalid');
                } else {
                    passwordError.textContent = '';
                    passwordInput.classList.remove('is-invalid');
                }

                if (isValid) {
                    form.submit();
                }
            });
        });

        // forgot password

        
        let userEmail = '';

        document.getElementById('forgotPasswordForm').addEventListener('submit', async (e) => {
            e.preventDefault();
            userEmail = document.getElementById('emailId').value;
            console.log('User email for password reset:', userEmail);

            if (!validateInput(userEmail, emailRegex, 'Please enter a valid email address')) {
        return;
    }

            try {
                const response = await fetch('/forgot-password', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ email: userEmail })
                });
                const data = await response.json();
                if (response.ok) {
            document.getElementById('forgotPasswordForm').style.display = 'none';
            document.getElementById('otpForm').style.display = 'block';
            Swal.fire({
                icon: 'success',
                title: 'Success',
                text: data.message
            });
        } else {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: data.message
            });
        }
    } catch (error) {
        console.error('Error:', error);
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: 'An error occurred. Please try again.'
        });
    }
        });

        document.getElementById('otpForm').addEventListener('submit', async (e) => {
            e.preventDefault();
            const otp = document.getElementById('otp').value.trim();

            if (!validateInput(otp, otpRegex, 'Please enter a valid 6-digit OTP')) {
        return;
    }
            try {
                const response = await fetch('/verify-otp', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ email: userEmail, otp })
                });
                const data = await response.json();
                if (response.ok) {
            document.getElementById('otpForm').style.display = 'none';
            document.getElementById('resetPasswordForm').style.display = 'block';
            Swal.fire({
                icon: 'success',
                title: 'Success',
                text: data.message
            });
        } else {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: data.message
            });
        }
    } catch (error) {
        console.error('Error:', error);
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: 'An error occurred. Please try again.'
        });
    }
        });

        document.getElementById('resetPasswordForm').addEventListener('submit', async (e) => {
            e.preventDefault();
            const newPassword = document.getElementById('newPassword').value;

            if (!validateInput(newPassword, passwordRegex, 'Password must be at least 8 characters long and contain at least one letter and one number')) {
        return;
    }

            try {
                const response = await fetch('/reset-password', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ email: userEmail, newPassword })
                });
                const data = await response.json();
                document.getElementById('message').textContent = data.message;
               if (response.ok) {
            Swal.fire({
                icon: 'success',
                title: 'Success',
                text: data.message
            }).then(() => {
                location.reload();
            });
        } else {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: data.message
            });
        }
    } catch (error) {
        console.error('Error:', error);
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: 'An error occurred. Please try again.'
        });
    }
        });
 

      </script>















</body>
</html>
